  <h3>たぬきの小屋</h3>
  
  <ul class="nav nav-tabs">
    <li class="nav-item room-tab-item">
      <a class="nav-link room-tab-link active" href="<%= tanuki_sad_words_url %>"><img class="tanuki-image" src="<%= asset_path "tanuki_sad_a_tri.png" %>">なやみ</a>
    </li>
    <li class="nav-item room-tab-item">
      <a class="nav-link room-tab-link" href="<%= tanuki_sad_words_url %>"><img class="tanuki-image" src="<%= asset_path "tanuki_happy_a_tri.png" %>">はげまし</a>
    </li>
    <li class="nav-item room-tab-item">
      <a class="nav-link room-tab-link" style="padding-top: 20px;" href="<%= tanuki_sad_words_url %>"><img class="tanuki-image" src="<%= asset_path "aicon-foot.png" %>"></br>たぬき村</a>
    </li>
  </ul>